 <!-- Preloader -->
 <div id="preloader">
  <div>
      <div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
      </div>
      <span>Wait, please...</span>
  </div>
</div>
<!-- /Preloader -->

<!-- Top Search Area Start -->
<div class="top-search-area">
  <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
              <div class="modal-body">
                  <!-- Close Button -->
                  <button type="button" class="btn close-btn" data-dismiss="modal"><i class="fa fa-times"></i></button>
                  <!-- Form -->
                  <form >
                      <input type="search" name="top-search-bar" class="form-control" placeholder="Entrez le nom de votre nouveau playList...">
                      <button type="submit" (click)="testAccesheader()">Search</button>
                  </form>
                  <!-- Search Button -->
                  <div class="search-btn"><i class="icon_search"></i></div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Top Search Area End -->

<!-- Social Share Area Start -->
<div class="razo-social-share-area">
  <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
  <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
  <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
  <a href="#" class="youtube"><i class="fa fa-youtube-play"></i></a>
  <a href="#" class="ss-close-btn"><i class="arrow_right"></i></a>
</div>
<!-- Social Share Area End -->

<!-- Header Area Start -->
<header class="header-area">
  <!-- Main Header Start -->
  <div class="main-header-area">
      <div class="classy-nav-container breakpoint-off">
          <div class="container">
              <!-- Classy Menu -->
              <nav class="classy-navbar justify-content-between" id="razoNav">

                  <!-- Logo -->
                  <a class="nav-brand" href="index.html"><img src="./assets/img/core-img/logo.png" alt=""></a>

                  <!-- Navbar Toggler -->
                  <div class="classy-navbar-toggler">
                      <span class="navbarToggler"><span></span><span></span><span></span></span>
                  </div>

                  <!-- Menu -->
                  <div class="classy-menu">
                      <!-- Menu Close Button -->
                      <div class="classycloseIcon">
                          <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                      </div>

                      <!-- Nav Start -->
                      <div class="classynav">

                            <form action="index.html" method="post">
                                    <input [(ngModel)]="keyword" type="search" name="top-search-bar" class="form-control" placeholder="Recherhce" (keyup.enter)="setKeyWordSearched()">
                             
                                </form>
                          <ul id="nav">
                              <li><a href="/home">Accueil</a></li>
                              <li><a href="/watchVideo">PlayList</a></li>
                              
                          </ul>

                          <!-- Share Icon -->
                          <div class="social-share-icon">
                              <i class="social_share"></i>
                          </div>

                          <!-- Search Icon -->
                          <div *ngIf='connectedStatus' class="search-icon">
                              <i class="fa fa-user" (click)='disconnect()'>Se déconnecter</i>
                          </div>
                          <div *ngIf='!connectedStatus' class="search-icon">
                            <i class="fa fa-user" > <a href="/sign">Se connecter</a></i>
                        </div>
                      </div>
                      <!-- Nav End -->
                  </div>
              </nav>
          </div>
      </div>
  </div>
</header>
<!-- Header Area End -->